body {
    padding: 100px;
}

#transaction-area {
    display: none;
}

.status {
    margin: 0px 1.2rem;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.deposite {
    background-color: slateblue;
}

.withdraw {
    background-color: lightsalmon;
}

.balance {
    background-color: orange;
}